body {
  font-family: Lato, Helvetica;
  margin: 0;
  /*background-color: #eee;*/
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
}

ul {
  padding: 0;
}

header {
  text-align: center;
}

h1 {
  font-size: 44px;
  font-weight: 400;
}

header span {
  font-size: 18px;
}

li {
  list-style: none;
}

.top {
  background-color: white;
}
.nav {
  /*outline: 1px solid black;*/
  transform: translateY(-20px);
  width: 100%;
  position: fixed;
  background-color: white;
  z-index: 1;
  padding-top: 5px;
  padding-bottom: 5px;
}

.nav a {
  text-decoration: none;
  margin: 0px 10px;
}

/*.wood-bg {
  background-position: center;
  background-size: contain;

}*/
.right {
  float: right;
}
.group {
  content: "";
  display: block;
  clear: both;
}

.title {
  text-align: center;
  font-size: 36px;
  margin-left: 10%;
  margin-right: 10%;
}

.title span {
  font-size: 14px;
  color: #333;
  font-style: italic;
}

.item {
  width: 70%;
  margin-left: 15%;
  margin-right: 15%;
  text-align: center;
}

.item li {
  display: inline-block;
}
.pic-container {
  height: 500px;
  background-color: black;
  min-width: 800px;
  margin-bottom: 180px;
  overflow: hidden;
  background-image: none;
  z-index: 1;
  box-shadow: 10px 10px 5px #666;

}

.pic-container:hover{
  /*border: 3px solid #33CCFF;*/
  /*box-shadow: 0 0 5px rgba(81, 203, 238, 1);
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 3px solid rgba(81, 203, 238, 1);*/
}

.pic {
  background-position: center;
  background-size: cover;
}

.construction {
  /*line-height: 500px;*/
  line-height: 50px;
  width: 1000px;
  background-color: #00CC99;
  transform: translateY(238px);
  color: white;
  font-weight: 700;
  letter-spacing: 2.15em;
  transform: rotate(-18deg) translateY(60px) translateX(-100px)
}

/*.not-done {
  opacity: 0.5;
}*/

.toy {
  height: 350px;
  background-color: violet;
  width: 33%;
  min-width: 275px;
  display: inline-block;
}

.toy:hover{
  transform: scale(1.5);
}

.item li p {
  text-align: center;
  font-weight: 700;
}

.small-proj {
  text-align: center;
  font-size: 36px;
  margin-bottom: 80px;
  font-weight: 700;
}

.skills-container {
  margin-top: 100px;
  height: 100px;
  background-color: white;
  margin-bottom: 100px;
  min-width: 850px;
}

.skills {
  margin: 0;
}
.skills li {
  float: left;
  padding-right: 15px;
}

.skills li:first-of-type {
  padding-left: 20px;
}

.skills p {
  font-size: 30px;
  font-weight: 700;
  text-align: left;
  margin-bottom: 20px;
  padding-left: 20px;
  padding-top: 10px;
}

.contact {
  /*text-align: center;*/
  margin-left: 15%;
  margin-right: 15%;
  width: 70%;
  margin-bottom: 100px;
}
